/TestProject/nbproject/private/
/Ass_HE190424_System_Manage_LeaveApplication/nbproject/private/
/Test2/nbproject/private/
/Test2/build/
/Test2/dist/
/TestTwo/nbproject/private/
/MagiTest2/nbproject/private/
/MagiTest2/dist/
/MagiTest2/build/
/Ass_HE190424_System_Manage_LeaveApplication/build/
/Ass_HE190424_System_Manage_LeaveApplication/dist/
